body { padding-top:70px;
	   
 }

@font-face {
	font-family: 'bukhari-script';
	src: url("../fonts/bukhari-script.otf");
}
.lobsta {
	font-family: 'Lobster', cursive;
}
.nav {
  list-style: none;
  background-color: none;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
}
